# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables (wichtig für API Keys)
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS / system
.DS_Store

# Logs
*.log

# Data (optional, je nach Projekt)
data/
